{{#if showBookmarks}}
<div class="item">
  <div class="content scroll-pane">
    <h1>Bookmarks</h1>
    <ul class="bookmarks">
    {{#if sortedContent}}
    {{#each sortedContent as |bookmark|}}
      <li><a href="{{route-to-path bookmark.route}}" {{action "closeBookmarks" bookmark.route}}>{{bookmark.title}}</a><span class="align-right"><a href="" {{action "removeBookmark" bookmark.route}}>X</a></span></li>
    {{/each}}
    {{else}}
      <p>No bookmarks here!</p>
    {{/if}}
    </ul>
  </div>
</div>
{{/if}}
